<div class="container">
  <div class="row">
    <div class="col-sm-12">
    
      <div class="card border-success w-50" style="width: 18rem;">
        <img class="card-header" src=".../100px180/" alt=<%= @gossip.title %> />
        <div class="card-body text-success">
          <h5 class="card-title"><%="#{@gossip.user.first_name} #{@gossip.user.last_name}"%></h5>
          <p class="card-text"><%= @gossip.content %></p>
          
          <%= link_to "Voir l'auteur", user_path(@gossip.user.id), :class => 'btn btn-success' %>
          
          <%= link_to 'Editer le Gossip', edit_gossip_path(@gossip.id), :class => 'btn btn-warning' %>

          <%= link_to 'Supprimer le Gossip', gossip_path(@gossip.id), :class => 'btn btn-danger', method: :DELETE, data: { confirm: "êtes-vous sûr?"} %>
          <!-- <a href="<%= gossip_path(@gossip.id) %>", class='btn btn-danger', data-confirm="êtes-vous sûr?", data-method="DELETE" >Supprimer le Gossip</a> -->

        </div>
      </div>

    </div>
  </div>

  <br><br><br>
  <h4><%= link_to "Retour à la page des potins", root_path %></h4>

</div>
